# Group Activity : Testing-Hypothesis

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [3]:
#Data uploading
TH = pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [4]:
TH.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [5]:
TH.count()

Gender              28
Test preparation    28
Total Marks         28
dtype: int64

1)Carry out descriptive analytics on the dataset.

In [18]:
TH.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [12]:
TH.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [19]:
TH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

The following insights are listed
    1. No null values are present in the dataset of 28 entries.
    2. The average marks of the dataset is 32.32 with a standard deviation of 12.45.
    4. Maximum and Minimum marks are 50 and 12 respectively.

2) Check whether female and male students scored the same marks.

In [20]:
THmvsf = TH.groupby('Gender')

In [22]:
THmvsf.describe()

       Total Marks
             count       mean        std   min    25%   50%    75%   max
Gender
female        16.0  33.750000  12.865976  12.0  25.50  39.0  43.50  50.0
male          12.0  30.416667  12.168950  14.0  21.75  29.0  43.25  47.0

Since the total dataset containing less than 30 samples we are using t distribution to analyse whether male and female 
students scored the same mark.
Setting Hyptothesis:
H0 = Null Hypothesis = The avg mark of male and female students are same.
H1 = Alternative Hypothesis = The average mark of male and female students are not same.
set alpha = 0.05

In [23]:
gender=TH['Gender']

In [24]:
gender

0       male
1     female
2     female
3     female
4     female
5     female
6       male
7     female
8       male
9       male
10      male
11      male
12      male
13      male
14    female
15    female
16    female
17    female
18      male
19      male
20      male
21      male
22    female
23    female
24    female
25    female
26    female
27    female
Name: Gender, dtype: object

In [26]:
mark=TH['Total Marks']
male=gender=='male'
female=gender=='female'
malescore=mark[male]
femalescore=mark[female]
from scipy.stats import ttest_ind
ttest_ind(malescore,femalescore)

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

The t value of means is:  -0.6941
The p value based on the t score is:  0.4938

Conclusion: Since we got a higher probablity value than level of significance we have to accept the null hypothesis.
So we conclude that on an average male and female students score same marks.

3) Whether test preparation helps the students?

Setting Hyptothesis:
H0 = Null Hypothesis = The avg mark of students those who take test preparation and the other students are same.
H1 = Alternative Hypothesis = The average marks are same.
set alpha = 0.05

In [29]:
preparation_test = TH[TH['Test preparation']=='completed']['Total Marks']
preparation_test

5     40
10    44
12    43
16    48
21    44
26    50
27    43
Name: Total Marks, dtype: int64

In [30]:
preparation_test.describe()

count     7.000000
mean     44.571429
std       3.359422
min      40.000000
25%      43.000000
50%      44.000000
75%      46.000000
max      50.000000
Name: Total Marks, dtype: float64

In [31]:
preparation_test_not = TH[TH['Test preparation']=='none']['Total Marks']

In [33]:
preparation_test_not.describe()

count    21.000000
mean     28.238095
std      11.661495
min      12.000000
25%      18.000000
50%      27.000000
75%      38.000000
max      48.000000
Name: Total Marks, dtype: float64

In [34]:
ttest_ind(preparation_test,preparation_test_not)

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0012671292457320106)

Conclusion: Since we got the probablity value less than the level of significance we reject the null hypothesis.
Hence it is concluded that the preparation test helps studens as well to boost their performance.